### .vscode/ ###
.vscode/

### .venv/ ###
.venv/

### build/ ###
build/

### dist/ ###
dist/

### *.egg-info ###
*.egg-info

### NeuralNetwork.py ###
NeuralNetwork.py

### __pycache__/ ###
__pycache__/

### .pyc ###
*.pyc